body,h1 {
    font-family: "Raleway", sans-serif
}
body, html {
    height: 100%
}
.back {
    background-image: linear-gradient(#000000,#000000);
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.display-container{
    position:relative
}
.animate-opacity{
    animation:opac 0.8s
}
.text-white{
    color:#fff
}
.display-middle{
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%)
}
.jumbo{
    font-size:64px
}
.animate-top{
    position:relative;animation:animatetop 0.4s
}
.border-grey{
    border-color:#9e9e9e
}
.large{
    font-size:18px
}
.center{
    text-align:center
}
h1, span{
    font-family:"Segoe UI",Arial,sans-serif;
    font-weight:400;
    margin:10px 0
}
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position: relative;
    top: 75px;
    right: -18.033%;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}